<div class="col-md-12">
  <h2>Search</h2>
  <input [(ngModel)]="search">
</div>
<ul>
  <li *ngFor="let book of booksModel.books | filter:search">
    <app-book-link [bookId]="book.id" [bookName]="book.name"></app-book-link>
    <button (click)="deleteBook(book.id)">x</button>
    <button (click)="goToEdit(book.id)">E</button>
  </li>
</ul>
