<h1 class="text-center">Library</h1>
<ul>
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="/books">Books</a></li>
  <li><a routerLink="/books/new">New Book</a></li>
</ul>
<router-outlet></router-outlet>
