<h1>Add new Book</h1>

<label for="name">Name</label>
<input type="text" name="name" id="name" [(ngModel)]="book.name">

<label for="author">Author</label>
<input type="text" name="author" id="author"  [(ngModel)]="book.author">

<button (click)="addBook()">Add</button>