<div class="col-md-12">
  You are editing book with id: {{id}}
</div>


<label for="name">Name</label>
<input type="text" [(ngModel)]="name">

<label for="author">Author</label>
<input type="text" [(ngModel)]="author">

<button (click)="updateBook()">Add</button>